# Rename this file to .env

# Environment
ENVIRONMENT=DEVELOPMENT or HEROKU - This is only for how the app handles Coors and SSL settings.
AUTH_SECRET=secret for authentication and verification of user JWTs
ADMIN_EMAIL=default-admin-account-email
ADMIN_PASSWORD=default-admin-password
OAUTH_URL=http://localhost:5001 - redirect url of oauth server

# Database
MONGODB_URI=mongodb for users/documents/admin/roles
FILE_SAFE_KEY=encryption key for encrypting private keys to DB

# Document Storage
AWS_ACCESS_KEY_ID=aws access key for s3 / sms 
AWS_SECRET_KEY=aws secret key for s3 / sms 
AWS_DOCUMENTS_BUCKET_NAME=bucket document are stored
AWS_PROFILE_IMAGES_BUCKET_NAME=bucket images are stored
AWS_NOTARIZED_VPJWT_BUCKET_NAME=public bucket where JWTs are stored for verification

# One Time Code
MYPASS_GMAIL_PASSWORD=gmail password for less secure gmail to send one time codes.

# Cryptocurrency
# INFURA_URI=(Optional) - If you want to notarize documents using a blockchain as storage you need infura uri - https://infura.io/

# ETHER_GAS_STATION_API=(Optional) https://ethgasstation.info/api/ethgasAPI.json - used for getting gas estimates for eth transactions

# ETH_FUNDING_PRIVATE_KEY=(Optional) If you want to notarize documents using a blockchain as storage you need a funding account with ethereum in it.
# ETH_MYPASS_DOMAIN_PRIVATE_KEY=(Optional) If you want to set text records to the ens you need a wallet with funds

