
.admin-dashboard .user-edit-form {
  form.user-info {
    >div {
      display: flex;

      label {
        min-width: 110px;
        height: 30px;
        padding: 3px;
      }

      input[readonly] {
        outline: none;
        border: none;
      }

    }


  }
}