body {
  font-family: Arial, Helvetica, sans-serif;

  header{
    height: 50px;
    width: 50vw;
    margin: auto;
    
  }

  a{
    cursor: pointer;
  }
}

.mainctn{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 50px;
}

a.active{
  border-bottom: 2px solid #007bff;
}
.fa {
  font-size: 1.2em;
  cursor: pointer;
}